#intro {
    font-size: 22px;
    margin-bottom: 4%;
}
h2 {
    margin-left: 4%;
}
.stuff {
    position: relative;
    margin: auto;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 3%;
}
.stuff_left{
    float: left;
    margin-left: 4%;
    width: 43%;
}
.stuff_right {
    float: right;
    margin-right: 4%;
    width: 43%;
}