body {
  background-color: #fff;
  /* TODO */
}

.wrapper {
	height: 500px;
	position: relative;
	width: 530px;
	margin: 0 auto;
	padding: 56px 23px 25px;
	border: 1px solid rgba(0,0,0,.1723);
	border-radius: 4px;
}

.form-group > * {
	margin-bottom: 10px;
}

.form-inline {
	margin-top: 5px;
	margin-bottom: 10px;
}

#msForm fieldset:not(:first-of-type) {
	display: none;
}

.submit-button {
	position: absolute;
	width: 75%;
	left: 12.5%;
	margin: 0 auto;
	bottom: 3px;
    margin-bottom: 8px;
}