body {
  background-color: #fff;
  /* TODO */
}


.logo {
  font-family: 'Raleway';
  color: #333;
  font-size: 30px;
}

.wrapper {
	min-height: 356px;
	position: relative;
	width: 530px;
	margin: 0 auto;
	padding: 56px 23px 15px;
	border: 1px solid rgba(0,0,0,.1723);
	border-radius: 4px;
}

.form-group > * {
	margin-bottom: 10px;
}

.form-inline {
	margin-top: 5px;
	margin-bottom: 10px;
}

#msForm fieldset:not(:first-of-type) {
	display: none;
}