/*
  Bootstrap Overrides
*/

li>a {
  padding: 38px 0px 35px;
  text-transform: uppercase;
  list-style: none;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: #27272b;
  margin: 0 15px;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin-bottom: 20px;
}

.navbar {
  background-color: #f8f8f8;
  margin-bottom: 40px;
  font-family: 'Roboto';
  border-bottom: 1px solid #f0f0f0;
}

.nav>li {
  position: relative;
  display: block;
}

.form-group {
  margin-bottom: 30px;
}
