body {
    background-color: #fff;
    /* TODO */
}
#main {
    min-height: 500px;
    position: absolute;
    width: 92%;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.1723);
    border-radius: 4px;
    background-color:#EAEAEA;
}

#course_list {
    height: 500px;
    position: absolute;
    width: 30%;
    margin: auto;
    margin-left: 10px;
    float: left;
    padding: 10px 23px 15px;
    border: 1px solid rgba(0,0,0,.1723);
    border-radius: 4px;
    background-color:#fff;

}
#course_ranking {
    height: 500px;
    position: relative;
    width: 65%;
    margin:  auto;
    margin-right: 10px;
    float: right;
    padding: 10px 23px 15px;
    border: 1px solid rgba(0,0,0,.1723);
    border-radius: 4px;
    background-color:#fff;

}

.course_header {
    padding-bottom: 20px;
    position: absolute;

}
#list_course {
    list-style-type: none;
    overflow: scroll;
    height: 420px;
    margin: 0;
    margin-top: 60px;
    padding: 0;
    font-family:'Helvetica';
    font-size: 28px;
    color: #0073ea;
}

.single_course {
    padding: 8px;
    font-size: 20px;
    width: 100%;
}
.single_course:hover {
    color: #000000;
    cursor: pointer;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    width: 100%;
}
#sortable li {
    margin: auto;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 45px;
}
#sortable li span {
    position: absolute;
    margin-top: .3em;
    margin-left: -1.3em;
}
#course_button {
    height: 50px;
    width: 200px;
    margin-left: 35%;
}
#submit_space {
    float: right;
    margin: 15px 25px 0px 0px;
    font-size: 17px;
}
.hidden {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
}

.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
}
.ui-tooltip-content {
    position: relative;
    padding: 1em;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.right .ui-tooltip-content::after {
    top: 18px;
    left: -15px;
    border-color: transparent #666;
    border-width: 15px 15px 15px 0;
}

#submit_space {
    font-color: #dff0d8;
}

.btn-group-vertical {
    overflow: scroll;
    height: 500px;
}
.btn-default {
    width: 100%;
}

#course_button {
    position: absolute;
    bottom: 20px;
}
